{{!--  put a template here for about page--}}



{{!-- the getAuthors helper --}}
{{!-- {{#getAuthors "1,2,3" "<ul class='teams'>" "</ul>"}}
<li class="team-people">
    <h4 class="team-people-name">
        {{ name }} 
    </h4>
    <img class= "team-people-avatar" src="{{avatar}}" alt="{{avatarImage.alt}}">
    <h6 class= "team-people-email">
        {{email}}
    </h6>
    <p class="team-people-desc">
        {{description}} 
    </p>
</li>
{{/getAuthors}} --}}
