{{!-- the post-single page --}}

{{!-- html and head tags --}}
{{> head}}

<body>
    {{{@bodyCustomCode}}}
    {{!-- header-the top bar and nav --}}
    {{> header}}

    {{!-- main landing page contents --}}
    <main>
        {{!-- posts --}}
        <div class="wrapper">
            {{#post}}
            <article class="pagePost">
                <h2 class="postTitle">
                    {{title}}
                </h2>
                <figure class="postImg">
                    {{#if featuredImage}}

                    <img src="{{url}}" alt="{{alt}}">
                    {{#checkIfAny caption credits}}
                    <figcaption>{{caption}} 
                        <span>{{credits}}</span>
                    </figcaption>
                    {{/checkIfAny}}

                    {{/if}}
                </figure>

                {{!-- feed Title and excerpt --}}
                <div class="postText">
                    {{text}}
                </div>

                {{!-- author info --}}
                {{!-- make this flex --}}
                <div class="postMeta">
                    {{#author}}
                    {{#if avatar}}
                    <img src="{{avatarImage.url}}" alt="{{avatarImage.alt}}">
                    {{/if}}
                    <div class="postMetaText">
                        <h4>{{name}}</h4>
                        {{/author}}
                        <p>{{createdAt}}</p>
                    </div>
                </div>
            </article>
                

            {{!-- commenting --}}
            {{#if @config.post.displayComments}}
                <div class="postComments">
                    {{{@commentsCustomCode}}}
                </div>
            {{/if}}

        {{/post}}

        </div>

    </main>

    

    {{!-- footer partials --}}
    {{> footer}}

</body>


